button{position:absolute; 
  top:28px;
  right:30px;
  padding:8px 14px;
  background:#FC8019;
  color:white;
  border:none;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;}

  input{position:absolute; 
  top:28px; 
  right:150px; 
  padding:8px 14px;
  font-size:16px;
  border-radius:6px;
  border:1px solid #FC8019;
  width:220px;}

  .brand-box{position:absolute; top:20px; left:30px;}

  .card-container{width: 100%;
    padding: 90px 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    font-size:20px}

  .card{width: 220px;
    text-decoration: none;
    color: #333;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    transition: transform 0.2s ease;
    text-align: center;}
    
    .card img{width: 100%;
    height: 150px;
    object-fit: cover;}

    .card h3{
      margin: 12px 0;
      font-size: 18px;
      font-weight: 700;
    }

    .card:hover{transform: translateY(-6px) scale(1.03);}

    .b-head{margin-top:28px;margin-left:30}

    .card-container-2{width: 100%;
    padding: 24px 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    font-size:20px}

    .para{margin-left:30; font-size:20}